.navbar {
  background-color: rgb(175, 255, 251) !important;
  font-size: 30px;
}
.nav-link {
  color: rgb(0, 0, 0) !important;
  font-size: 25px;
  width: 200px;
}
body {
  background-color: rgb(253, 232, 208);
}
#nav-bar2 {
  font-size: 30px;
}

.carousel-item img{
  height: 80vh ;
  object-fit: cover;
}
#h1-2{ 
  /* background-color: rgb(230, 240, 145); */
}
#ft{
  height: 40vh ;
  width: 40vh;
  object-fit: cover;
}


