@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Sour Gummy", sans-serif;

}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: rgb(207, 249, 247) !important;
  font-size: 30px;
}
.nav-link {
  color: rgb(0, 0, 0) !important;
  font-size: 25px;
  width: 200px;
}
body {
  background-color: rgb(255, 249, 241);
}
#nav-bar2 {
  font-size: 30px;
}

.carousel-item img {
  height: 80vh;
  object-fit: cover;
}

#ft {
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
  object-position: center;
}
#img3{
  height: 280px !important;
  object-fit: cover;

}
#botaoform{
background-color: rgb(207, 249, 247);
}